<app-nav-bar></app-nav-bar>
<h1>Welcome to the Quiz Creator</h1>
<div class = "QuestionCard" *ngIf="showQuestions">
  <label>Question Text:
    <input type="text" name="questionText">
  </label>
  <label for = "answ1">Answer 1
    <input type="text" name = "answ1">
    <input type="radio">
  </label>
  <label for = "answ2">Answer 2
    <input type="text" name = "answ2">
    <input type="radio">
  </label>
  <label for = "answ3">Answer 3
    <input type="text" name = "answ3">
    <input type="radio">
  </label>
  <label for = "answ4">Answer 4
    <input type="text" name = "answ4">
    <input type="radio">
  </label>
  <button (click)="addQuestion(questionText, answ1, answ2, answ3, answ4)">Add Question</button>
  <button (click)="toggleSwitch('Name')"></button>
</div>
<div class = "QuizAttributes" *ngIf = "showName">
  <label for="quizName">
    Quiz Name:
  </label>
  <input type="text" name = "quizName">
  <label for="quizDesc">Quiz Description</label>
  <input type="text" name = "quizDesc">
  <button (click) = "addQuiz(quizName.value, quizDesc.value)">Submit Quiz Name</button>
</div>
